.text {
  margin: var(--text-margin, 0);
  padding: var(--text-padding, 0);

  font-size: var(--text-font-size);
  line-height: var(--text-line-height, 1.2);

  opacity: 0;
  transform: translate3d(0, 20px, 0);

  transition: {
    duration: 0.75s;
    property: opacity, transform;
    timing-function: ease-out;
  }

  &.visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &:last-child {
    margin: var(--text-last-margin, 0);
  }

  em {
    color: var(--color-red);
    font-style: normal;
  }

  i {
    font-style: normal;
    filter: brightness(1.4);
  }
}

.large {
  --text-font-size: var(--font-size-large);

  --text-margin: 0 0 var(--font-size-normal);
}

.medium {
  --text-font-size: var(--font-size-medium);

  --text-margin: 0 0 var(--font-size-normal);
  --text-line-height: 1.4;
}

.normal {
  --text-font-size: var(--font-size-normal);

  --text-margin: 0 0 var(--font-size-normal);
  --text-line-height: 1.4;
}
