.title {
  @include altText;

  margin: var(--title-margin, 0);
  padding: var(--title-padding, 0);

  font-size: var(--title-font-size);
  font-family: var(--font-family-headline);
  font-weight: var(--font-weight-medium);

  &:last-child {
    margin: var(--title-last-margin, 0);
  }

  em {
    color: var(--color-red);
    font-style: normal;
  }
}

.small {
  --title-font-size: var(--font-size-normal);

  --title-margin: 0 0 var(--font-size-normal);
}

.normal {
  --title-font-size: var(--font-size-medium);

  --title-margin: 0 0 var(--font-size-normal);
}

.large {
  --title-font-size: var(--font-size-large);

  --title-margin: 0 0 var(--font-size-normal);
}
