:root {
  --color-earth-1: #d3cecd;
  --color-earth-2: #908581;
  --color-earth-3: #5c4f48;
  --color-earth-4: #3f3631;

  --color-dark-red-orange: #683021;
  --color-dark-red: #72160e;
  --color-red: #be1c1d;
  --color-light-red: #faeee9;
  --color-light-red-orange: #d87d63;
  --color-light-skin: #f2d5c9;

  --color-white: #ffffff;
  --color-black: #1d1d1b;
}
