.logo {
  position: var(--logo-position, relative);

  line-height: 0;

  &-mark {
    width: 60px;
  }

  &.height,
  &.height .logo-mark {
    width: auto;
    height: 100%;
  }

  &Text {
    position: absolute;

    width: 150%;

    &Right {
      top: 50%;
      left: calc(100% + var(--size-unit-2));
      transform: translate3d(0, -50%, 0);
    }

    &Bottom {
      top: calc(100% + var(--size-unit-2));
      left: 0;
    }
  }
}
