.section {
  background-color: var(--color-dark-red);
  color: var(--color-light-red-orange);

  height: 100vh;
  min-height: 500px;

  padding-bottom: var(--global-margin);

  transition: {
    duration: 0.75s;
    property: height;
  }

  &.show {
    height: calc(100vh - var(--global-margin));
  }

  .container {
    @include topGrid;

    grid-template-rows: repeat(2, 1fr);

    height: 100%;
  }

  .logo {
    color: var(--color-white);

    width: 60px;

    transition: {
      duration: 1s;
      property: opacity;
    }

    &.hide {
      opacity: 0;
    }

    &Wrapper {
      padding-top: var(--size-unit-8);
    }
  }

  .text {
    @include leftColumn;

    grid-row: 2;
    align-self: flex-end;
  }
}
