.intro {
  @include topGrid;

  color: white;

  align-items: flex-end;
  height: 100%;

  &Wrapper {
    background-color: var(--color-earth-3);

    height: 60vh;
  }

  &Text {
    @include leftColumn;

    --text-padding: 0 0 var(--global-margin);
  }
}

.image {
  @include topGrid;

  margin-bottom: var(--global-margin);

  &Wrapper {
    position: relative;

    &:before {
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 50%;

      content: "";

      background-color: var(--color-earth-3);
    }
  }

  &El {
    @include leftColumnLarge;

    position: relative;

    z-index: 2;
  }
}

.aboutText {
  @include topGrid;

  margin-bottom: var(--size-unit-16);

  &Lead {
    @include leftColumn;
  }

  &Supporting {
    @include column(1, 4);

    @include tablet {
      @include column(7, 4);
    }
  }
}

.team {
  @include topGrid;

  margin-bottom: var(--global-margin);
  color: var(--color-red);

  &Title {
    @include fullColumn;

    margin-bottom: var(--global-double-margin);
  }

  &Image {
    @include leftColumn;

    margin-bottom: var(--size-unit-4);

    @include tablet {
      margin-bottom: 0;
    }
  }

  &Supporting {
    @include rightColumn;

    p:first-child {
      margin-bottom: var(--global-margin);
    }
  }
}

.introWrapper > *,
.imageWrapper > *,
.aboutTextWrapper > *,
.teamWrapper > * {
  transition: {
    duration: 0.75s;
    property: opacity;
  }

  .inactive & {
    opacity: 0;
  }
}
